/********************INDEX*********************/

div#divsisgestion {
  width: 200px;
  height: 90px;
  transition: height 1s; width 1s;          
 /* transform: (10px,0px);*/
            }

div#divsisgestion:hover{
  height: 135px;
  width: 300px;
         
            }   

h2 {
  animation-duration: 2s;
  animation-name:aparecer;
  animation-iteration-count: infinite;          
              }

@keyframes aparecer{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }     
            }   