
/********************MENU*********************/

#menu{
  text-align: right;
}

.menudetalle{
  display: inline-block;
  color: #a6a6a6;
  text-decoration: none;
  background-color: #000000;
  font-family:'Roboto', sans-serif; 
  width: 200px;
  height: 20px;
  text-align: center;
  border-bottom: solid 5px  #00b3b3;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-left: 10px;

}

.menudetalle2{
  display: inline-block;
  color: #808080;
  text-decoration: none;
  background-color: none;
  font-family:'Roboto', sans-serif; 
  width: 200px;
  height: 20px;
  text-align: center;
  border-bottom: solid 5px  #00b3b3;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-left: 10px;

}

.menudetalle3{
  display: inline-block;
  color: #808080;
  text-decoration: none;
  background-color:  #d9d9d9;
  font-family:'Roboto', sans-serif; 
  width: 200px;
  height: 20px;
  text-align: center;
  border-bottom: solid 5px  #00b3b3;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-left: 10px;

}

.grillamenu {

  display: flex;
  flex-direction: row;
  justify-content: space-between;   

}

/********************HDSCONSULTING*********************/

#azul{

  background-color:cornflowerblue;
  width: 49%;
  height: 200px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  font-family:'Roboto', sans-serif; 
  
}

#violeta{

  background-color:blueviolet;
  width:  49%;
  height: 200px;
  display: inline-block;
  margin-left: -4px;
  margin-top: 0px;
  font-family:'Roboto', sans-serif; 
  text-align: center, justify;
}

#verde{

  background-color:#3EDDC0;
  width: 98%;
  height: 200px;
  display: inline-block;
  margin: none; 
  margin-top: -4px;
  margin-left: 10px;
  font-family:'Roboto', sans-serif;
  text-align: center, justify;
}

.flexbox {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  width: auto;
  color: #333;
  margin-top: 20px;
}

.titulos {
  float: right;
  display: flex;
  align-items: center;
  word-break:break-all;
  margin: 0 0 0 0;
  font-size: 20px;
  color: white;
}

.parrafo {
  color: white;
  text-align: center;
}

/********************INDEX*********************/

#index{
  background-color: #000000;
}


.indexcuadro1 {
  color:white;
  background-color: #5D5FEF;
  text-decoration: none ;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  height: 90px;
  display: inline-block;
  font-family:'Roboto', sans-serif;
  border-top: solid 5px #7476f1;
  border-bottom: solid 6px #171ae8;
  border-right: solid 7px  #8b8df4;
  border-left: solid 8px #a2a4f6;
  margin-left: 20px;
 }


.indexcuadro2 {
  color: #000000;
  background-color: #3EDDC0;
  text-decoration: none ;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 200px;
  height: 90px;
  display: inline-block;
  font-family:'Roboto', sans-serif;
  border-top: solid 5px #67e4cd;
  border-bottom: solid 6px #22c3a6;
  border-right: solid 7px  #93ecdc;
  border-left: solid 8px #bef4ea;
  margin-left: 15px;
 

 }

 .indexcuadro3 {
  color:white;
  background-color: #AD3AC0;
  text-decoration: none ;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 200px;
  height: 90px;
  display: inline-block;
  font-family:'Roboto', sans-serif;
  border-top: solid 5px #b84eca;
  border-bottom: solid 6px #8d2f9d;
  border-right: solid 7px  #c776d6;
  border-left: solid 8px #dfb0e8;
  margin-left: 15px;
}

.indexcuadro4 {
  color: #000000;
  background-color: #D7DA62;
  text-decoration: none ;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 200px;
  height: 90px;
  display: inline-block;
  font-family:'Roboto', sans-serif;
  border-top: solid 5px #dbdd6e;
  border-bottom: solid 6px #d1d345;
  border-right: solid 7px  #e5e798;
  border-left: solid 8px #f0f0c1;
  margin-left: 15px;
 } 


.indexcuadro5 {
  color:white;
  background-color: #FF5959;
  text-decoration: none ;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 200px;
  height: 90px;
  display: inline-block;
  font-family:'Roboto', sans-serif;
  border-top: solid 5px #ff5959;
  border-bottom: solid 6px #ff3333;
  border-right: solid 7px  #ff8080;
  border-left: solid 8px #ffb3b3;
  margin-left: 15px;
 }

.indexcuadro6 {
  color:black;
  background-color: black;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100px;
  height: 90px;
  display: inline-block;

 }

#msjeinicial {
  color:white;
  text-align: right;
  font-size: 150%;
  font-family:'Roboto', sans-serif;
  width: 40%;
  display: inline-block;
     }


.video {
    margin-left: 50px ;
                 }

#grillaindex {
    display: grid;
    grid-template-areas:
    "header menus menus menus"
    "section section aside aside"
    "servicios servicios servicios servicios "
    "footer footer footer footer";
    grid-template-rows: auto auto auto auto  ;
    grid-template-columns:  auto auto auto auto;
    grid-row-gap: 15px;
              }

header{
  grid-area: header;
              }

nav#menu {
  grid-area: menus;
              }

section{
  grid-area: section;
                }
          
aside{
  grid-area: aside;
                              }

footer{
  grid-area: footer;
                            }

nav#servicios{
  grid-area: servicios;
                            }

                                                        
.padre-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;             
            }
            
            

/***************************NOVEDADES*********************/
.news {
  width: 290px;
  height: 150px;
  display: inline-block;
  font-family:'Roboto', sans-serif;
  color: grey;

         }

#fila {
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  text-align: justify;
            }

  .vermas {
  display: inline-block;
  color: white;
  background-color: #E25353;
  font-family:'Roboto', sans-serif;
  margin-right: 10px;
  margin-top: 10px;
  border: inset #E25353;
  text-align: center;
  padding: 3px;
      
     }

/*****************CONTACTO*****************/

.contacto  {
  border-bottom: solid 3px #00b3b3;
  font-family:'Roboto', sans-serif;
  color: #8c8c8c; 
  text-align: center;
  width: 80%;
  }

.inputform {
  
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
  margin-left: 200px;
  }

.inputsubmit {
  background-color: #00b3b3;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 250px;
  }

.inputnombre {
  font-family:'Roboto', sans-serif;
  color: #8c8c8c;
  margin-left: 200px;
  
      }

.asidedir {
  padding-left: 5px;
  padding-top: 0px;
  font-family:'Roboto', sans-serif;
  color: #8c8c8c;
            }

.direccion {
  color: #8c8c8c;
  font-family:'Roboto', sans-serif;
            }
    
#grillacontacto {
  display: grid;
  grid-template-areas:
    "logocontacto menuc menuc "
    "logocontacto sectioncontacto sectioncontacto "
    "sectionformulario sectionformulario asidecontacto"
    "footercontacto footercontacto footercontacto";
  grid-template-rows:auto auto auto auto ;
  grid-template-columns:  auto auto auto ;
  grid-row-gap: 15px;
                      }
        
header#logocontacto{
  grid-area: logocontacto;
              }

nav#menuc {
  grid-area: menuc;
              }


section#sectioncontacto{
  grid-area: sectioncontacto;
                }

section#sectionformulario{
  grid-area: sectionformulario;
                                }  
                                       
aside#asidecontacto{
  grid-area: asidecontacto;
                   }

footer#footercontacto{
            
  grid-area: footercontacto; 
  margin-left: 100px;
}

.terminos {
  margin-top: 50px; 
  margin-left: 250px;       
            } 

.padre-flex-form {
  
  align-items: stretch;       
            } 

.padre-flex-menuc {

  display: flex;  flex-direction: row; 
  justify-content: flex-end;     
            } 
  /*                  
.logoc {
  display: flex; flex-direction: row;
  align-items: flex-start; 
   
            } */

   
 

