#misionH {
  background-color:#00ace6;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  width: 50%;
  padding-left: 15px;
  margin-left: 15px;
 
}

#visionH {
  background-color:#9900cc;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  width: 50%;
  padding-left: 15px;
  margin-left: 15px;
}

#valoresH {
  background-color:#33cccc;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  width: 100%;
  padding-left: 15px;
  margin-left: 15px;
}

#mision {
  background-color:#00ace6;
  color: #ffffff;
  width: 50%;
  padding-left: 15px;
  margin-left: 15px;
 
}

#vision {
  background-color:#9900cc;
  color: #ffffff;
  padding-left: 15px;
  margin-left: 15px;
 

}

#valores {
  background-color:#33cccc;
  color: #ffffff;
  width: 100%;
  padding-left: 15px;
  margin-left: 15px;
}

#principal {
  width: 100%;
}