
#azul{

  background-color:cornflowerblue;
  width: 49%;
  height: 300px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

#violeta{

  background-color:blueviolet;
  width:  49%;
  height: 300px;
  display: inline-block;
  margin-left: -4px;
  margin-top: 0px;
}

#verde{

  background-color:aquamarine;
  width: 98%;
  height: 300px;
  display: inline-block;
  margin: none; 
  margin-top: -4px;
  margin-left: 10px;
}

.flexbox {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  width: auto;
  color: #333;
  margin-top: 20px;
}

.titulos {
  float: right;
  display: flex;
  align-items: center;
  word-break:break-all;
  margin: 0 0 0 0;
  font-size: 20px;
  color: white;
}

.parrafo {
  color: white;
}